<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          At Thomas Investment Bank, we're committed to empowering our clients to achieve their
          financial goals with confidence and clarity. With a rich history rooted in integrity and
          innovation, we pride ourselves on delivering exceptional banking services tailored to meet
          the unique needs of each individual and business we serve. Our team of experienced
          professionals is dedicated to providing personalized guidance and cutting-edge solutions,
          ensuring that our clients receive the highest level of support and expertise. Whether
          you're saving for the future, financing a major purchase, or growing your wealth, trust
          Thomas Investment Bank to be your partner every step of the way.
        </p>
        <a
          href="/about"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-100 dark:text-primary-950 dark:hover:bg-primary-200 dark:focus-visible:outline-primary-400"
        >
          Read about us
        </a>
      </div>
    </div>
  </div>
</section>
