<form
  class="flex flex-col gap-y-6 rounded-2xl border-2 border-primary-300 p-8 shadow-2xl shadow-primary-400 dark:border-primary-600 dark:shadow-primary-600"
>
  <div>
    <h2 class="font-serif text-3xl text-primary-900 dark:text-primary-100">Start earning now!</h2>
    <h3 class="text-sm text-primary-600 dark:text-primary-300">Create your account.</h3>
  </div>
  <div>
    <label for="name" class="sr-only">Full name</label>
    <input
      type="text"
      required
      name="name"
      id="name"
      autocomplete="name"
      class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-3 text-base ring-1 ring-primary-300 transition placeholder:text-primary-950/60 hover:ring-primary-400 focus:outline-none focus:ring-2 focus:ring-primary-400 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
      placeholder="Full name"
    />
  </div>
  <div class="w-72">
    <label for="email" class="sr-only">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      required
      autocomplete="email"
      class="block w-full appearance-none rounded-md border-0 bg-primary-50 px-4 py-3 text-base ring-1 ring-primary-300 transition placeholder:text-primary-950/60 hover:ring-primary-400 focus:outline-none focus:ring-2 focus:ring-primary-400 dark:bg-primary-950 dark:ring-primary-200/40 dark:placeholder:text-primary-200/60 dark:hover:ring-primary-400 dark:focus:ring-primary-400"
      placeholder="Email"
    />
  </div>
  <div class="flex w-full flex-row items-center justify-center">
    <button
      id="submit"
      class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-12 py-1.5 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-100 dark:text-primary-950 dark:hover:bg-primary-200 dark:focus-visible:outline-primary-400"
    >
      Register
    </button>
    <p class="flex-grow text-center">or</p>
    <a
      class="cursor-pointer py-1.5 pr-4 text-base font-medium text-primary-600 underline-offset-4 transition-all hover:underline dark:text-primary-50"
      href="https://app.thomasinvestmentbank.com/sign-in"
    >
      Sign In
    </a>
  </div>
</form>
<script>
  //listen to button click and fetch
  document.getElementById('submit').addEventListener('click', async (e) => {
    e.preventDefault();
    const name = document.getElementById('name').value;
    const email = document.getElementById('email').value;

    const response = await fetch('/api/signup', {
      headers: {
        'Content-Type': 'application/json',
      },
      method: 'POST',
      body: JSON.stringify({
        name,
        email,
      }),
    });
  });
</script>
